modules = ["python-3.11"]

[nix]
packages = [
  "python311",
  "python311Packages.psycopg2"
]

[workflows]
runButton = "Run Flask App"

[[workflows.workflow]]
name = "Run Flask App"
author = 39427985
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 wsgi.py"

[[ports]]
localPort = 5000
externalPort = 80

[agent]
expertMode = true
